*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  
}

.wrapper {
  padding-left: 19px;
  padding-top: 29px;
  padding-right: 20px;
}

body {
  background-color: #f9fbfd;
  font-family: sans-serif;
 
}

header {
  color: hsl(206, 17%, 28%);
  text-align: center;
  padding-top: 0px;
  padding: 19px;

  
}


.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  padding: 30px 40px;
  border-radius: 6px;
  font-size: 17px;
  margin: 0 auto;
  max-width: 800px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  height: 2px;
  display: block;
  background: #e7e9eb;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 25px;
  padding: 14px 34px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  background-color: hsl(360, 91%, 36%);
  display: inline-block;
  font-size: 21px;
  color: hsl(0, 0%, 100%);
  line-height: 21px;
  margin: 16px 16px 16px 20px;
  cursor: pointer;
  text-align: center;
}
button[disabled] {
  background: #c0c7cf;
  cursor: default;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

#password {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  -moz-appearance: none;
  border: none;
  width: 100%;
  padding-bottom: 86px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 1.2rem;
  margin-top: 11px;
  text-align: center;
  margin-bottom: 11px;
  border-radius: 6px;
  resize: none;
  border: 2px dashed #c0c7cf;
  overflow: hidden;
}

.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    margin: 16px 0px 0px 0px;
    font-size: 1rem;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
